<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" monitorInterval="30">
    <Properties>
        <property name="log-path">logs/crud/${date:dd-MM-yyyy}</property>
    </Properties>
    <Appenders>
        <File name="debugLog" fileName="${log-path}/debug.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <Filters>
                <!-- First deny warn, error and fatal messages -->
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- Then accept info, warn, error, fatal and deny debug/trace -->
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>

            </Filters>
        </File>
        <File name="traceLog" fileName="${log-path}/trace.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <!-- First deny warn, error and fatal messages -->
                <ThresholdFilter level="debug" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- Then accept info, warn, error, fatal and deny debug/trace -->
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>



            </Filters>
        </File>
        <File name="errorLog" fileName="${log-path}/error.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <!--This will write the same log into both of the files -->
            <AppenderRef ref="traceLog" level="trace"/>
            <AppenderRef ref="debugLog" level="debug"/>
            <AppenderRef ref="errorLog" level="error"/>
        </Root>
    </Loggers>
</Configuration>